*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    align-items: center;
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
   
    background-image: url("Amazon Clone (Resources)/amazon_logo.png");
    background-size:cover ;
    height: 50px;
    width: 100px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/**box2*/
.nav-address{
 
    height: 50px;
    width: 90px;
    margin-top: 12px;
  
    
    
}
.add-first{
    margin-left: 18px;
color: #cccccc;
font-size: 0.7rem;
}
.add-second{
font-size: 0.85rem;
}
.add-icon{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
   
}
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: pink;
    border-radius: 3px;
    width: 620px;
    height: 40px;

    
    
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    color:#b49292;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
}
.search-input{
    width: 100%;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 0.7rem;

}
span{
    font-size: 12px;

}
.cart i{
    font-size: 35px;
}
.cart {
    display: flex;
}
.secp{
    display: flex;
    height:39px;
    background-color:#22253d;
    justify-content: space-evenly;
    align-items: center;
}
.two p{
    display: inline;
    color: white;
    margin-left: 10px;
    
   
}
.three{
    color: white;
    font-weight: 700;
}

.one{
    color: white;
    display: flex;
    
}
.two{
    width: 70%;
}
.hero-section{
    background-image: url("Amazon Clone (Resources)/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

}
.hero-msg a{
    color: #007185;
}
.box{
    background-color: white;
    height: 400px;
    width: 23%;
    padding: 2px 0px 15px;
    margin-top: 15px;
}
.shop-section{
    display: flex;
   
    justify-content: space-evenly;
    background-color: #d6faf3;
}
.box-image{
    height: 300px;
    background-image: contain;
    background-size: cover;

    margin-top: 1rem;
    margin-bottom: 1rem;

   

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
.footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
}
.foot-panel2{
    background-color: #22253d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
    

}
ul{
    margin-top: 15px;
}
ul a{
    margin-top: 10px;
    display: block;
    color: white;
    text-decoration: none;
 font-size: 0.85rem;
 
}
.foot-panel3{
    background-color: #22253d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
}
.logo2{
    background-image: url("Amazon Clone (Resources)/amazon_logo.png");
    background-size:cover ;
    height: 50px;
    width: 100px;
    margin-top: 10px;
}
.pa{
    height: 30px;
    background-color: #22253d;
    justify-content: center;
    color: white;
    width: 100%;
    display: flex;
}